.meal-section {
    margin: 0 auto; /* Center the sections horizontally */
    max-width: 80%; /* Limit the width to 80% of the parent container */
}

.card-title {
    margin-bottom: 15px;
    font-weight: bold;
}
